.sidebar-mini {}

.sidebar-small-hide {
    display: none !important;
    transform: translateX(-100%);
}

.sidebar-small-width {
    width: 50px !important;
    padding: 0;
    transition: width .3s ease-in-out;
}

.sidebar-width {
    transition: width .3s ease-in-out;
}

.sidebar-small-width a {
    padding: 0;
}